atomicwrites
attrs
certifi
cffi
chardet
colorama
gevent
greenlet
grequests
httplib2
idna
mock
more-itertools
oauth2
parse
pbr
Pillow
pluggy
pprint
psutil
py
pycparser
pytest
requests
selenium
six
syspath
urllib3