#устанавливаются в shiningpanda, так же копируется виртуальное окружение гдк много других плагинов
pytest
httplib2
more-itertools
oauth2
parse
pbr
Pillow
pluggy
pprint
psutil
pytest-shutil
py
pycparser
requests
selenium
six
syspath
urllib3
allure-pytest
